* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.next-main {
  flex: 1;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.next-main h1 {
  margin-top: 0;
}
