name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Install Playwright Browser (required for Vitest browser project)
        run: bunx playwright install --with-deps chromium

      - name: Typecheck
        run: bun run typecheck

      - name: Test
        run: bun run test

      - name: Build
        run: bun run build
